@charset "UTF-8";
body {
  font-family: Roboto, sans-serif;
  color: #616a78;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  overflow-x: hidden;
}

.panel {
  position: relative;
}

button, input, optgroup, select, textarea {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

canvas:focus {
  outline: none;
}

::-moz-selection {
  background: #4ed2c5;
  color: #fff;
}

::selection {
  background: #4ed2c5;
  color: #fff;
}

::-moz-selection {
  background: #4ed2c5;
  color: #fff;
}

a {
  color: #33cabb;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

a:hover, a:focus {
  color: #616a78;
  text-decoration: none;
  outline: none;
}

a.media {
  color: #616a78;
  text-decoration: none;
}

a[class*="text-"]:hover, a[class*="text-"]:focus {
  text-decoration: none;
}

a[class*="hover-"] {
  color: #616a78;
  text-decoration: none;
}

b,
strong {
  font-weight: 500;
}

small,
time,
.small {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #929daf;
}

small a,
time a,
.small a {
  color: #929daf;
  border-bottom: 1px dotted #929daf;
}

small a:hover,
time a:hover,
.small a:hover {
  color: #33cabb;
  border-bottom-color: transparent;
}

.lead {
  font-size: 16px;
  line-height: 32px;
}

.semibold {
  font-weight: 400;
}

.dropcap:first-child:first-letter {
  float: left;
  color: #903;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #37404d;
  line-height: 1.5;
  letter-spacing: .5px;
}

h1 b,
h1 strong, h2 b,
h2 strong, h3 b,
h3 strong, h4 b,
h4 strong, h5 b,
h5 strong, h6 b,
h6 strong,
.h1 b,
.h1 strong, .h2 b,
.h2 strong, .h3 b,
.h3 strong, .h4 b,
.h4 strong, .h5 b,
.h5 strong, .h6 b,
.h6 strong {
  font-weight: 400;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
  font-size: 65%;
}

h1 a,
h1 a[class*="hover-"], h2 a,
h2 a[class*="hover-"], h3 a,
h3 a[class*="hover-"], h4 a,
h4 a[class*="hover-"], h5 a,
h5 a[class*="hover-"], h6 a,
h6 a[class*="hover-"],
.h1 a,
.h1 a[class*="hover-"], .h2 a,
.h2 a[class*="hover-"], .h3 a,
.h3 a[class*="hover-"], .h4 a,
.h4 a[class*="hover-"], .h5 a,
.h5 a[class*="hover-"], .h6 a,
.h6 a[class*="hover-"] {
  color: #37404d;
}

h1, .h1 {
  font-size: 33px;
}

h2, .h2 {
  font-size: 28px;
}

h3, .h3 {
  font-size: 23px;
}

h4, .h4 {
  font-size: 19px;
}

h5, .h5 {
  font-size: 16px;
  font-weight: 400;
}

h6, .h6 {
  font-size: 14px;
  font-weight: 400;
}

.font-alt {
  font-family: Roboto, sans-serif;
}

.sidetitle {
  font-style: italic;
  margin-left: 0.5rem;
}

.sidetitle::before {
  content: '\2014 \00A0';
}

.subtitle {
  display: block;
  margin-top: 8px;
}

.list-iconic {
  list-style: none;
  padding-left: 1.5rem;
}

.list-iconic .icon {
  padding-right: 0.5rem;
  font-size: 0.75em;
}

.blockquote {
  font-style: italic;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  color: #616a78;
}

.blockquote p {
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.blockquote a {
  color: #616a78;
}

.blockquote footer {
  color: #929daf;
  font-size: 0.875rem;
}

.blockquote footer::before {
  content: '\2014 \00A0';
}

.blockquote-inverse,
.blockquote-inverse footer {
  color: #fff;
}

dt {
  font-weight: 400;
}

time {
  font-size: 12px;
  color: #929daf;
}

.dl-inline dt,
.dl-inline dd {
  display: inline-block;
}

.dl-inline dd {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  html {
    font-size: 16px;
  }
  h1, .h1 {
    font-size: 31px;
  }
  h2, .h2 {
    font-size: 26px;
  }
  h3, .h3 {
    font-size: 22px;
  }
  h4, .h4 {
    font-size: 18px;
  }
  h5, .h5 {
    font-size: 15px;
  }
  h6, .h6 {
    font-size: 13px;
  }
  .blockquote {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 15px;
  }
  h1, .h1 {
    font-size: 24px;
  }
  h2, .h2 {
    font-size: 22px;
  }
  h3, .h3 {
    font-size: 20px;
  }
  h4, .h4 {
    font-size: 16px;
  }
  .lead {
    font-size: 15px;
  }
  .blockquote {
    margin-left: 0;
    margin-right: 0;
  }
}

hr {
  border-top-color: rgba(97, 106, 120, 0.07);
  margin: 2rem auto;
}

.divider-dash {
  opacity: .7;
  margin: 0 4px;
  vertical-align: middle;
  color: #929daf;
}

.divider-dash::before {
  content: '\2014 \00A0';
}

.divider-dot {
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  margin: 0 4px;
  vertical-align: middle;
  opacity: .5;
  background-color: #929daf;
}

.divider-line {
  display: -webkit-inline-box;
  display: inline-flex;
  height: 20px;
  width: 1px;
  margin: 0 4px;
  background-color: rgba(97, 106, 120, 0.07);
}

.divider {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-flex: 0;
          flex: 0 1 0%;
  color: #929daf;
  font-size: 11px;
  letter-spacing: .5px;
  margin: 2rem auto;
  width: 100%;
}

.divider::before, .divider::after {
  content: '';
  -webkit-box-flex: 1;
          flex-grow: 1;
  border-top: 1px solid #ebebeb;
}

.divider::before {
  margin-right: 16px;
}

.divider::after {
  margin-left: 16px;
}

.divider a {
  color: #929daf;
}

.divider-vertical {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 2rem;
}

.divider-vertical::before, .divider-vertical::after {
  border-top: none;
  border-right: 1px solid #ebebeb;
  margin: 0;
}

.divider-vertical::before {
  margin-bottom: 16px;
}

.divider-vertical::after {
  margin-top: 16px;
}

.hr-sm,
.divider-sm {
  margin: 1rem auto;
}

.hr-lg,
.divider-lg {
  margin: 3rem auto;
}

.divider-vertical.divider-sm {
  padding: 0 1rem;
}

.divider-vertical.divider-lg {
  padding: 0 3rem;
}

.article a {
  color: #48b0f7;
}

.article .lead {
  font-size: 17px;
  color: #788394;
  opacity: .8;
}

.article p {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.article b, .article strong {
  font-weight: 400;
}

.article blockquote {
  margin: 40px 0;
}

.article blockquote p {
  font-size: 18px;
}

.container-article {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .article .lead {
    font-size: 15px;
  }
  .article p {
    font-size: 13px;
    line-height: 24px;
  }
  .article blockquote p {
    font-size: 15px;
  }
}

pre {
  background-color: #f9fafb;
  border-left: 5px solid #ebebeb;
  padding: 12px;
  border-radius: 3px;
  color: #788394;
}

.code-bold {
  color: #bd4147;
  font-weight: 600;
  letter-spacing: .5px;
}

kbd {
  background-color: #465161;
}

.pre-scrollable {
  max-height: 360px;
}

.clipboard-copy {
  position: absolute;
  top: 6px;
  right: 13px;
  line-height: 20px;
  opacity: 0;
  z-index: 9;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.clipboard-copy:hover {
  text-decoration: none;
}

pre:hover .clipboard-copy {
  opacity: 1;
  -webkit-transition: opacity .5s, -webkit-transform 0s;
  transition: opacity .5s, -webkit-transform 0s;
  transition: transform 0s, opacity .5s;
  transition: transform 0s, opacity .5s, -webkit-transform 0s;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  position: relative;
  background-color: #f9fafb;
  padding-bottom: 12px;
  margin-top: 0;
  margin-bottom: 25px;
  word-wrap: normal;
  border: 1px solid #ebebeb;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  #wizbar{ display: none; }  /* show it on smaller screen */
}
@media screen and (min-width: 401px) and (max-width: 1024px) {
  #wizbar{ display: block; }   /* hide it on larger screens */
}
