.parallax {
    /* The image used */
    background-image: url("../assets/img/parallax-blured.jpg");

    /* Set a specific height */
    height: 100vh;
    width: 100%;
    /*margin-top: -44px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 44px;*/

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.parcenter {
  position: absolute;
  width: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
